@page
@model _27_11_23_asp.Pages.Groupes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Groupe[0].Name)
            </th>
            <th>
                nb_contact
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Groupe) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @* @Html.DisplayFor(modelItem => item.Contacts.Count) *@
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
    @* foreach (var contact in item.Contacts)
    {
        <tr>
            <td>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => contact.FirstName)
            </td>
            <td>
            </td>
        </tr>
    } *@
}
    </tbody>
</table>
